@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic");

* {
  box-sizing: border-box;
}

body {
  font: 16px/1.5 'Lato', sans-serif;

  background-color: rgb(255, 255, 255);
  background-attachment: fixed;
  background-repeat: repeat;
  background-image: url("http://pattern4site.ru/images/pattern/_rebig/5-fon-dlya-sayta.jpg");
  background-position: left top;
}

.link, .link:hover, .link:focus {
  color: #212121;
  text-decoration: none;
}

@media (max-width: 700px) {
  body {
    font-size: 10px;
  }
}
